body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: white;
	}
.divPageBody {
	width: 60%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divVersionNumber {
	font-size: 12px;
	float: right;
	padding-top: 19px;
	}
.divItemViewer  {
	width: 100%;
	}
.divFeedTitle {
	font-size: 26px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 20px;
	}
.divItemViewer ul {
	margin-left: 0;
	}
.divItemViewer li {
	overflow: hidden;
	list-style-type: none;
	padding-top: 3px;
	padding-bottom: 5px;
	white-space: nowrap;
	border-top: 1px dotted lightgray;
	}
.spTitleText {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.25em;
	margin-bottom: 10px;
	}
.spBodyText {
	font-size: 13px;
	color: #9e9e9e;
	line-height: 18px;
	}
.hovering {
	background-color: whitesmoke;
	cursor: pointer;
	}
.divUrlInput {
	margin-bottom: 30px;
	}
.divUrlInput input {
	width: 50%;
	margin-top: 11px;
	margin-right: 5px;
	height: 32px;
	}
.divUrlInput .btnGo {
	height: 32px;
	}
.divTitleText {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25em;
	margin-bottom: 10px;
	}
.divBodyText {
	font-size: 13px;
	color: #9e9e9e;
	line-height: 18px;
	}
.divMoreInfo {
	margin-top: 50px;
	border-top: 1px dotted silver;
	font-size: 13px;
	padding-top: 3px;
	}

